/* General styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Montserra', sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #000;
    color: #fff;
    width: 100%;
    padding: 40px 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

header img.header-icon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    height: 100px;
    width: auto;
    border-radius: 50%;
}

header h1{
    color: #ffffff;
}

h1 {
    color: #d3a309; /* couleur or */
    margin: 0;
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

h2 {
    font-family: 'Merriweather', serif;
    color: #d3a309; /* couleur or */
    text-align: center;
    font-size: 2.5em;
    margin-top: 140px; /* Add margin to ensure visibility */
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

.container {
    background: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    max-width: 900px;
    margin: 20px auto;
    overflow: hidden;
    flex: 1 0 auto; /* Allow the container to grow and shrink */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart-container {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    margin: 60px 0;
    align-items: center;
    position: relative;
}

.input-dropdown {
    text-align: center;
    margin: 70px 0;
}

.input-dropdown select {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff;
    cursor: pointer;
    outline: none;
    transition: border-color 0.3s ease;
}

.input-dropdown select:focus {
    border-color: #d3a309;
}

footer {
    color: #fff;
    width: 100%;
    padding: 50px 0;
    background-color: #000;
    text-align: center;
    font-size: 0.9em;
    flex-shrink: 0; /* Prevent the footer from shrinking */
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

form input[type="number"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100px;
    text-align: center;
}

form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #d3a309;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

form button:hover {
    background-color: #755906;
    transform: scale(1.05);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #333;
    color: #fff;
}

table tbody tr:hover {
    background-color: #f1f1f1;
    transition: background-color 0.3s ease;
}

button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #e74c3c;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #c0392b;
    transform: scale(1.05);
}

.content {
    margin-top: 120px; /* Ensure content starts below the header */
    flex: 1 0 auto; /* Allow the content to grow and shrink */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

canvas {
    border: 1px solid #ddd;
    border-radius: 10px;
}

.tooltip {
    position: absolute;
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    pointer-events: none;
    z-index: 1000;
    white-space: nowrap;
}
